* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  color: rgb(71, 71, 71);
  background-color: #121213;
  justify-content: center;
}

.container {
  
  
  
  border-radius: 10px;
  width: 70vw;
  height: max-content;
  color: rgb(221, 221, 221);
  background-color: rgb(90, 120, 209);
  display: grid;
  
  column-gap: 0.5rem;
  padding: 1rem 0.5rem;
  box-shadow: 2px 2px 10px black;
  
}
/* .container:before {
  content:'';
  position: absolute;
  
  top:75%;
  height: 2rem;
  padding: 0; margin: 0;
  transform: skew(49deg, 293deg);
  background: linear-gradient(to left, royalblue, rgb(82, 245, 158));
  z-index: -1;
  width: 223%;
} */
.lista {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  grid-column: 1/4;

  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 600;
  gap: 0.4rem;
  width: 100%;
  color: rgb(235, 235, 235);
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.todo-box,
.data-box {
  border-radius: 5px;
  padding-left: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background-color: rgb(230, 230, 230);
  border: 1px rgb(53, 89, 195);
}
button {
  border-radius: 6px;
  margin-left: 0.7rem;

  color: rgb(226, 226, 226);
  background-color: rgb(46, 85, 200);
  padding: 0.3rem 0.6rem;
  border: 1px rgb(50, 62, 97);
  align-items: center;

  font-weight: 600;
}
/* .title{
  position: absolute;
  display: flex;
  width: 50vw;
  margin-top:10%;
  
  border-radius: 10px;
  
} */

.c__boss{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  justify-content: center;
  width: 95%;
  align-items: center;
  
  
}

img {
  
 
  margin-top: 15vh;
  width: 11rem;
  
  justify-content: center;
}

/* 
.bg-shape {
  position: relative;
  overflow: hidden;
  padding: 50px;
}

.bg-shape:after {
  content: '';
  position: absolute;
  width: 110%;
  height: 3rem;
  background: linear-gradient(to right, rgb(44, 240, 86) , rgb(31, 95, 243),rgb(39, 18, 233));
  transform: skew(1deg, 45deg);
  top: 20rem;
  right: 20;
  z-index: -1;
  
} */

@media only screen and (max-width: 669px) {
  html {
    font-size: 14px;
  }

  .container {
    
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  /* img {
    margin-top:-2rem;
    margin-bottom: -2rem;
    
} */


  .todo-box,
  .data-box {
    width: 90%;
    height: 1.6rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .addbutton {
    align-items: center;
    margin: 0;
    width: 93%;
  }

 


}

@media only screen and (max-height:480px) {
  img {
    margin-top:-2rem;
    margin-bottom: -2rem;
    
  }
  
}