* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  color: rgb(71, 71, 71);
  background-color: #121213;
  justify-content: center;
}

.container {
  
  
  
  border-radius: 10px;
  width: 100%;
  height: max-content;
  color: rgb(221, 221, 221);
  background-color: rgb(90, 120, 209);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  
  column-gap: 0.5rem;
  padding: 1rem 0.5rem;
  box-shadow: 2px 2px 10px black;
  
}

.lista {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  

  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
  gap: 0.4rem;
  width: 100%;
  color: rgb(235, 235, 235);
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.todo-box,
.data-box {
  display: flex;
   
    width: 80%;
    height: fit-content;
    gap: .5rem;
    margin: auto;
  border-radius: 5px;
  padding:0.2rem  0.5rem;
  
  justify-content: center; 
   align-items: center; 
  font-weight: 600;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  background-color: rgb(230, 230, 230);
  border: 1px rgb(53, 89, 195);
}
button {
  border-radius: 6px;
  margin-left: 0.7rem;
  font-size: 1.2rem;
  color: rgb(226, 226, 226);
  background-color: rgb(46, 85, 200);
  padding: 0.35rem 1rem;
  border: 1px rgb(50, 62, 97);
  align-items: center;

  
}


.c__boss{
  display: flex;
  flex-direction: column;
  
  margin: auto;
  gap: 1rem;
  width: 35vw;
  align-items: center;
 
    position: absolute;
    
  
}

img {
  
 
  
  width: 7rem;
  
  justify-content: center;
}



@media only screen and (max-width: 1074px){

  .c__boss{
   
    width: 50vw;
  
  }

}
@media only screen and (max-width: 860px){

  .c__boss{
   
    width: 60vw;
  
  }

}
@media only screen and (max-width: 714px){

  .c__boss{
   
    width: 75vw;
  
  }

}
@media only screen and (max-width: 669px) {
 

  .container {
    
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  .c__boss{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: .5rem;
    margin: auto;
   
    width: 80vw;
    align-items: center;
    
    
  }



  .todo-box,
  .data-box {
    width: 90%;
   
    margin: auto;
    display: flex;
   
  }
  .addbutton {
    align-items: center;
    margin: 0;
    width: 93%;
  }



}

@media only screen and (max-height:480px) {
  img {
    margin-top:-1rem;
    margin-bottom: -1.5rem;
    
  }
  
}